<div id="<%= dom_id user %>">
  <div class="card mb-3" style="max-width: 900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag user.avatar, class: "card-img-top" %>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= "#{user.full_name}" %></h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= user.gender %></li>
            <li class="list-group-item"><%= user.email %></li>
            <li class="list-group-item"><%= user.naturalization %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
