<h1>Users</h1>

<div class="mb-2">
  <%= page_entries_info @users %>
</div>

<%= form_tag(users_path, method: 'get', class: "d-flex mb-3") do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Search user name", class: "form-control me-2") %>
  <%= submit_tag("Search", name: nil, class: "btn btn-outline-success") %>
<% end %>

<%= render "user_pagination" %>

<div id="users">
  <table class="table table-striped table-bordered table-hover users-list__desktop">
    <thead class="thead-dark">
      <tr>
        <th>Picture</th>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Naturalization</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.avatar, class: "index-image" %></td>
          <td>
            <%= link_to "#{user.full_name}", user %>
          </td>
          <td><%= user.gender %></td>
          <td><%= user.email %></td>
          <td><%= user.naturalization %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="users-list__mobile">
    <% @users.each do |user| %>
      <%= render partial: "user_card", locals: {user: user} %>
    <% end %>
  </div>
</div>

<%= render "user_pagination" %>
